body{
    color: darkblue;
    background: ghostwhite;
}
h1, h2{
    color: green;
    background: greenyellow;
    border: dashed 2px blue;
    font-family: Ubuntu;
}
pre{
    color: gray;
    background: #ddd;
    border: dotted 1px black;
    font-family: 'Courier New', Courier, monospace;
}